.comments_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.comments_container > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.comments_container > div > p {
  padding: 0.25em;
}

.deleted_comment {
  color: gray;
}

.post_comment {
  display: flex;
  flex-direction: column;
}

.post_comment > input {
  padding: 0.5em;
  border: 0;
  border-top: 2px solid black;
}

.post_comment > button {
  border: 0;
  border-top: 2px solid black;
}

.comment_card {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.comment_card > div:last-of-type {
  display: flex;
  flex-direction: column;
}

.comment_card > div:last-of-type > p:first-of-type {
  overflow-wrap: break-word;
}

.comment_card > div:last-of-type > p:last-of-type {
  align-self: flex-end;
}
