.navbar_container {
  width: 100%;
  display: flex;
  border: 0;
  border-top: 2px solid black;
}

.navbar_container > a {
  flex: 1;
  text-align: center;
  padding: 0.5em;
}

.navbar_container > a {
  border-right: 2px solid black;
}

.navbar_container > a:last-of-type {
  border-right: none;
}
