.write_post_container {
  height: 100%;
}

.post_form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image_preview {
  flex: 1;
}

.image_preview > img {
  width: 100%;
  max-height: 100%;
}

.post_caption {
  padding: 0.5em;
}
