.create_post_container {
  height: 100%;
}

.post_form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post_form > div {
  display: flex;
  flex-direction: column;
}

.post_form > input,
.post_form > button {
  border: 0;
  border-top: 2px solid black;
}

.image_preview {
  flex: 1;
  position: relative;
  height: fit-content;
}

.image_preview > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
}

.post_caption {
  padding: 0.5em;
}
