.write_post_container {
  height: 100%;
}

.post_form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post_form > label {
  padding: 0.25em;
}

.post_form > textarea {
  height: 100%;
}
