.header_container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.25em;
  border-bottom: 2px solid black;
}

.header_container > div:first-of-type {
  display: flex;
  flex-direction: column;
}

.header_container > div:first-of-type > div {
  display: flex;
  justify-content: space-between;
}
