.user_card {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.user_card > svg {
  height: 50px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_header > svg {
  width: 50px;
  cursor: pointer;
}

.header_delete_icon {
  max-width: 25px;
}
