* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: x-large;
  border-radius: 0%;
}

#root {
  height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: xx-large;
}
